.servicios-categorias__container {
    background: rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 2rem;
    border-radius: 4rem;
    backdrop-filter: blur(15px);
}