
.nav__categorias {
    width: 93rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    padding: 1.2rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 13rem;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    backdrop-filter: blur(15px);
}

.nav__categorias ul {
    gap: 5rem;
    display: flex;
    flex-direction: row;
}

.nav__categorias-link {
    background: transparent;
    color: var(--color-primary);
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}

.itemlist {
    width: 93rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    padding: 1.2rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 20rem;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    backdrop-filter: blur(15px);
}