.item__card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-bottom: 3rem;
    text-align: center;
}

#item__nombre-servicio {
    padding: 2rem 0.5rem;
    border-radius: 0 0 2rem 2rem;
    background-color: var(--color-bg);
    font-size: 2rem;
    font-weight: 300;
}

#item__precio-servicio {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--color-primary-variant);
    font-weight: 500;
}

.item__descripcion-servicio {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 2rem 5rem;
}